@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }

  body {
    @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100 antialiased;
  }
}